*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding-top: 80px;
    background-color: #a3a3a0;
    height: 100%;
    width: 100%;
}
img{
    height: 400px;
    width: 300px;
    object-fit: cover;
    border-radius: 30px;
}
button{
    padding: 15px 30px;
    color: #fff;
    background-color: rgb(215, 11, 191);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 600;

}
button:active{
    scale: 0.95;
}